/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  position: relative;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, p, fieldset {
  margin: 0;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  background: no-repeat radial-gradient(93.85% 93.54% at 50% 50%, rgb(0, 182, 241) 14.1200006008%, rgb(69, 81, 163) 83.520001173%);
}

.container {
  margin: 0 auto;
  width: 1310px;
}

.color-gradient {
  background: linear-gradient(214deg, #00b6f1 0%, #4551a3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  background-color: #ffffff;
}
.header__container {
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-list {
  display: flex;
  gap: 50px;
}
.header__nav-item {
  line-height: 110%;
  color: #00151c;
}

.hero {
  padding: 54px 0;
  color: #ffffff;
  position: relative;
}
.hero__content {
  padding: 60px 0;
}
.hero__title {
  font-weight: 600;
  font-size: 45px;
  line-height: 120%;
  letter-spacing: -0.03em;
}
.hero__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  padding: 21px 0 31px;
  width: 652px;
  letter-spacing: -0.001em;
}
.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #ffffff;
  color: #00151c;
}
.hero__btn-audit {
  width: 277px;
  height: 72px;
  margin: 0 0 5px;
}
.hero__btn-support {
  width: 309px;
  height: 68px;
}
.hero::after {
  content: "";
  display: block;
  width: 914px;
  height: 515px;
  position: absolute;
  bottom: 0;
  right: -15px;
  background: url("/img/bgnet.png") no-repeat center;
  background-size: contain;
  z-index: -5;
}

.breadcrumb {
  display: flex;
}
.breadcrumb__item {
  font-weight: 500;
  font-size: 15px;
  line-height: 110%;
}
.breadcrumb__item + .breadcrumb__item::before {
  content: ">";
  padding: 0 10px;
}

.form__title {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.03em;
  width: 644px;
}
.form__paragraph {
  padding: 21px 0;
  font-size: 20px;
  opacity: 0.5;
}
.form__form {
  display: flex;
  width: 1310px;
  gap: 10px;
  justify-content: start;
  padding: 40px 0 0;
}
.form__form .form__item {
  border: 1px solid #fff8f8;
  border-radius: 99px;
  width: 320px;
  height: 60px;
  background: transparent;
  padding: 19px 30px;
}
.form__form .form__item::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
.form__form .form__item::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
.form__form .form__btn {
  border-radius: 90px;
  padding: 16px 32px;
  width: 320px;
  height: 60px;
  font-size: 18px;
  line-height: 110%;
}
.form .form__policy {
  padding: 10px 0 0;
  font-size: 14px;
  opacity: 0.5;
}

.advantages {
  background-color: #ffffff;
}
.advantages__title {
  font-weight: 600;
  font-size: 24px;
  color: #00151c;
  width: 831px;
  padding: 118px 0 60px;
  line-height: 1.23;
}
.advantages__list {
  display: flex;
  gap: 10px;
}
.advantages__item {
  width: 320px;
  height: 320px;
  border-radius: 200px;
  background: #f2fbfe;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 109px 0 0;
  gap: 10px;
}
.advantages__item-icon {
  border-radius: 105px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: radial-gradient(93.85% 93.54% at 50% 50%, rgb(0, 182, 241) 14.1200006008%, rgb(69, 81, 163) 83.520001173%);
}
.advantages__item-text {
  width: 232px;
  text-align: center;
  line-height: 1.23;
  letter-spacing: -0.03em;
}
.advantages__item:nth-child(-n+2) .advantages__item-text {
  width: 210px;
}
.advantages__item-btn {
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  height: 41px;
  background: linear-gradient(215deg, #00b6f1 0%, #4551a3 64.18%);
  font-size: 15px;
  line-height: 110%;
  color: #ffffff;
}

.info__container {
  padding: 120px 0 110px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.info__block {
  display: flex;
  gap: 60px;
}
.info__img {
  width: 650px;
  height: 451px;
}
.info__img img {
  border-radius: 16px;
}
.info__text {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.03em;
  color: #00151c;
}
.info__text-left {
  padding: 138px 0 109px;
}
.info__text-right {
  padding: 26px 0;
}
.info__text-title.text__title {
  line-height: 1.23;
}
.info__text-paragraph {
  padding: 23px 0 0;
  font-weight: 400;
  font-size: 17px;
  color: #6c7a7f;
  letter-spacing: 0.0055em;
  line-height: 1.23;
}
.info__list {
  display: block;
  list-style: disc outside none;
  padding: 10px 0 0 26px;
}
.info__list-item {
  margin: 10px 0;
  letter-spacing: 0.005em;
}

.infrastructure {
  color: #ffffff;
  padding: 120px 0 144px;
  position: relative;
}
.infrastructure__container {
  width: 1310px;
}
.infrastructure__head {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.infrastructure__title {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.03em;
}
.infrastructure__text {
  font-weight: 500;
  font-size: 20px;
  width: 657px;
}
.infrastructure__cards {
  padding: 63px 0 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.infrastructure__svg {
  border-radius: 100%;
  filter: blur(100px);
  position: absolute;
  left: 750px;
  bottom: 1100px;
  width: 834px;
  height: 834px;
  z-index: -2;
}
.infrastructure__support {
  border-radius: 8px;
  padding: 60px;
  height: 356px;
  background: #f2fbfe;
  color: #4f504f;
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.infrastructure__support::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: url("/img/ellipses.svg");
}
.infrastructure .form {
  padding: 60px 0;
  margin: 0 0 0 2px;
}
.infrastructure .form__form .form__item {
  color: #ffffff;
}
.infrastructure .form__form .form__btn {
  background: linear-gradient(214deg, #00b6f1 0%, #4551a3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.infrastructure .form__form .form__btn::before {
  content: "";
  display: block;
  border-radius: 90px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  position: absolute;
  z-index: -5;
}

.cards_item {
  border-radius: 16px;
  padding: 40px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(239, 238, 247, 0.1);
}
.cards_item:nth-child(4) {
  grid-column: span 2;
}
.cards_item:nth-child(5) {
  background-color: #ffffff;
  color: #00b6f1;
}
.cards_item-number {
  border: 1px solid #ffffff;
  border-radius: 150px;
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  letter-spacing: -0.03em;
}
.cards_item:nth-child(5) .cards_item-number {
  border: 1px solid #00b6f1;
}
.cards_item-text {
  padding: 87px 0 0;
  font-size: 16px;
}
.cards_item:nth-child(5) .cards_item-text {
  padding: 88px 0 0;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.support__title {
  font-weight: 600;
  font-size: 32px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #00b6f1;
  padding: 67px 0 24px;
}
.support__paragraph {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-align: center;
  width: 698px;
}

.complex {
  padding: 100px 0 95px;
  background-color: #ffffff;
}
.complex__banner {
  border-radius: 8px;
  padding: 56px;
  height: 356px;
  width: 1310px;
  background-color: #f2fbfe;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.complex__banner .banner__icon {
  border-radius: 105px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: radial-gradient(93.85% 93.54% at 50% 50%, rgb(0, 182, 241) 14.1200006008%, rgb(69, 81, 163) 83.520001173%);
}
.complex__banner .banner__title {
  font-weight: 600;
  font-size: 32px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #00151c;
  padding: 21px 0 22px;
}
.complex__banner .banner__paragraph {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.03em;
  line-height: 1.22;
  text-align: center;
  color: #6c7a7f;
  width: 698px;
}
.complex__banner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: url("/img/ellipses_complex.svg");
}
.complex__specialization {
  padding: 83px 0 92px;
  display: flex;
  justify-content: space-between;
}
.complex__specialization .specialization__text {
  padding: 105px 0 59px 36px;
}
.complex__specialization .specialization__heading {
  font-weight: 500;
  font-size: 24px;
  color: #00151c;
  line-height: 1.22;
}
.complex__specialization .specialization__paragraph {
  padding: 19px 0 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #6c7a7f;
}
.complex__accordion {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.complex__accordion .accordion__item {
  border-radius: 8px;
  padding: 24px 42px 24px 40px;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  background: #f2fbfe;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.complex__accordion .accordion__btn {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #00151c;
}
.complex__accordion .accordion__paragraph {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -0.03em;
  color: #6c7a7f;
  padding: 20px 0 0;
  line-height: 1.22;
}
.complex__accordion .accordion__panel {
  width: 1160px;
}
.complex__accordion .accordion__icon_close {
  transform: rotate(45deg);
}

.content {
  padding: 101px 0 100px;
  color: #ffffff;
  background: url("/img/bg_ellipses_content.svg") center center;
}
.content__structure {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.content__structure .structure__heading {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.03em;
}
.content__structure .structure__paragraph {
  font-weight: 500;
  font-size: 20px;
  padding: 22px 0;
}
.content__structure .structure__list {
  font-weight: 500;
  font-size: 20px;
  display: block;
  list-style: disc outside none;
  padding: 14px 0 0 30px;
}
.content__structure .structure__list .list__item {
  margin: 16px 0;
  letter-spacing: 0.0001em;
}
.content__structure .structure__list .list__item-svg {
  margin: -14px 0 10px;
}
.content__structure .structure__list .list__item .list__svg {
  display: inline-flex;
  position: relative;
  top: 8px;
  left: -4px;
  cursor: pointer;
}
.content__structure .structure__img {
  width: 650px;
  height: 451px;
}
.content__structure .structure__img img {
  border-radius: 16px;
}
.content__plan {
  padding: 149px 0 0;
}
.content__plan .plan__title {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.03em;
  text-align: center;
}
.content__plan .plan__paragraph {
  padding: 21px 0;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
}
.content__plan .plan__circles {
  padding: 33px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1308px;
  gap: 14.4px;
}
.content__plan .plan__circles .circles__item {
  border-radius: 361px;
  padding: 86px 0 0;
  width: 250px;
  height: 250px;
  -webkit-backdrop-filter: blur(24.0366973877px);
          backdrop-filter: blur(24.0366973877px);
  background: rgba(239, 238, 247, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.content__plan .plan__circles .circles__item-number {
  border: 1.2px solid #ffffff;
  border-radius: 160px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.03em;
  text-align: center;
}
.content__plan .plan__circles .circles__item-text {
  font-weight: 500;
  font-size: 15px;
  width: 224px;
  text-align: center;
  line-height: 1.23;
}

.feedback {
  background-color: #ffffff;
  padding: 102px 0 100px;
}
.feedback__info {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 -8px;
}
.feedback__text {
  padding: 58px 0 57px;
}
.feedback__title {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.03em;
  color: #00151c;
}
.feedback__paragraph {
  padding: 20px 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: #6c7a7f;
  width: 579px;
}
.feedback__also {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  color: #00151c;
  padding: 33px 0 36px;
}
.feedback__links {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.feedback__link {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -0.03em;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #00b6f1;
}
.feedback__img {
  width: 650px;
  height: 451px;
}
.feedback__img img {
  border-radius: 16px;
}
.feedback__form {
  padding: 100px 0 0;
}
.feedback__form .form {
  padding: 59px 0 0;
}
.feedback__form .form__item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 400;
  color: #4f504f;
}
.feedback__form .form__item::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #4f504f;
}
.feedback__form .form__item::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #4f504f;
}
.feedback__form .form__paragraph {
  padding: 22px 0;
}
.feedback__form .form__btn {
  background: linear-gradient(215deg, #00b6f1 0%, #4551a3 64.18%);
  color: #ffffff;
}
.feedback__form .form__policy {
  padding: 20px 0 0;
}

.popup {
  position: absolute;
  top: -157px;
  left: 243px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 40px;
  width: 482px;
  height: 424px;
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  opacity: 0;
  transition: 0.3s;
}
.popup__list {
  font-weight: 400;
  font-size: 15px;
  color: #6c7a7f;
  display: block;
  list-style: disc outside none;
  padding: 0 0 0 21px;
}
.popup__list .list__item {
  letter-spacing: 0.002em;
}
.popup__list .list__item:not(:first-child) {
  margin: 10.7px 0;
}

.footer {
  color: #ffffff;
}
.footer__line {
  padding: 56px 0 76px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-width: 1px 0;
}
.footer__container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 1312px;
}
.footer .nav__list {
  font-size: 24px;
  letter-spacing: -0.03em;
  width: 227px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding: 0 0 5px 0;
}
.footer__logo {
  padding: 0 136px 0 159px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 21px;
  width: 251px;
  padding: 0 2px 5px 0;
}
.footer__contacts a {
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.03em;
  text-decoration: underline;
  text-underline-offset: 2px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.footer__address {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.028em;
}
.footer__rigths {
  padding: 17px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.031em;
  opacity: 0.7;
}
.footer__policy {
  text-align: right;
  margin: 0 1px 0 0;
}/*# sourceMappingURL=main.css.map */