.popup {
    position: absolute;
    top: -157px;
    left: 243px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 40px;
    width: 482px;
    height: 424px;
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.1);
    background: $color-white;
    opacity: 0;
    transition: 0.3s;
    &__list {
        font-weight: 400;
        font-size: 15px;
        color: $color-lightgray;
        display: block;
        list-style: disc outside none;
        padding: 0 0 0 21px;
        .list__item {
            letter-spacing: 0.002em;
        }
        .list__item:not(:first-child) {
            margin: 10.7px 0;
        }
    }
}